<h1>Results Page</h1>
Name 1: <%=h @query.name1 %> <br/>
Name 2: <%=h @query.name2 %> <br/>
Degree: <%=h @query.degree %> <br/>
<%= link_to "Query Page", :controller => "querys", :action => "index" %>
